.main {
  min-height: 100vh;
  background: #ffffff url("../img/bg.jpg") center center no-repeat;
  position: relative;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.modal-calendar {
  background-color: #ffffff;
  position: relative;
  z-index: 2;
  display: flex;
  border: 5px solid #009991;
}

.selected-day,
.selected-month {
  flex-grow: 1;
  min-height: 300px;
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected-day {
  text-transform: uppercase;
  background-color: #38cec4;
  color: #ffffff;
}

.selected-day .day-of-week {
  font: 300 1.5rem/1.5 "Arial", sans-serif;
}

.selected-day .day-of-week,
.selected-month .month,
.selected-month .prev-month,
.selected-month .next-month {
  margin-top: 30px;
  margin-bottom: 20px;
  align-self: center;
}

.selected-month .prev-month,
.selected-month .next-month {
  font: 400 1.5rem/1.5 "Arial", sans-serif;
  color: #009991;
  text-align: center;
  align-self: center;
  flex-grow: 1;
  cursor: pointer;
}

.display-none {
  display: none;
}

.selected-day .day {
  font: 400 7rem/1.5 "Arial", sans-serif;
}

.selected-month .month-list {
  display: flex;
  width: 100%;
}

.selected-month .month {
  font: 700 1.5rem/1.5 "Arial", sans-serif;
  color: #009991;
  text-transform: uppercase;
  text-align: center;
}

.day-of-week-list,
.day-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  justify-content: space-around;
}

.day-of-week-list {
  color: #eb1b57;
  text-transform: uppercase;
}

.day-of-week-list .day-of-week,
.day-list .day {
  font: 700 0.85rem/1.25 "Arial", sans-serif;
  padding: 10px 5px;
  min-width: 36px;
  text-align: center;
}

.day-list .day span {
  padding: 5px;
  color: #b7b7b7;
  cursor: pointer;
  transition: color 0.3s ease 0s;
}

.day-list .day span:hover {
  color: #eb1b57;
}

.day-list .another span {
  color: #e0e0e0;
}

.day-list .current span,
.day-list .selected span {
  color: #eb1b57;
}

.day-list .selected {
  position: relative;
}

.day-list .selected::before {
  content: "";
  display: block;
  border: 3px solid #eb1b57;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 0;
  top: 0;
}

.day-list .prev-month,
.day-list .next-month {
  font-size: 0;
}
